{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h1>Docentes de las Escuelas de Ingeniería</h1>
    <div class="row mt-5">
        <div class="col-md-3">
            <h3 class="mb-3">Edad promedio de los docentes</h3>
            <p class="lead">{{ average_age|floatformat:0 }}</p>
        </div>
        <div class="col-md-3">
            <h3 class="mb-3">Cantidad de docentes mayores de 70 años</h3>
            <p class="lead">{{ count_teachers_70_or_older }}</p>
        </div>
        <div class="col-md-3">
            <h3 class="mb-3">Porcentaje de docentes haciendo investigación</h3>
            <p class="lead">{{ percentage_teachers_with_research|floatformat:2 }}%</p>
        </div>
        <div class="col-md-3">
            <h3 class="mb-3" style="color: red;">Docentes sin grado mínimo requerido</h3>
            <p class="lead" style="color: red;">1</p>
        </div>
    </div>
  <form method="GET" action="">
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="form-group">
                <label>Edad:</label>
                <select class="form-control" name="age" id="age">
                  <option value="">Todas</option>
                  <option value="21-30 years">21-30 años</option>
                  <option value="31-40 years">31-40 años</option>
                  <option value="41-50 years">41-50 años</option>
                  <option value="51-60 years">51-60 años</option>
                  <option value="61+ years">61+ años</option>
              </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Modalidad:</label>
                <select class="form-control" name="modality" id="modality">
                    <option value="">Todas</option>
                    <option value="TP">Tiempo Parcial</option>
                    <option value="TC">Tiempo Completo</option>
                    <option value="DE">Dedicación Exclusiva</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Categoría:</label>
                <input type="text" name="category" class="form-control" value="{{ request.GET.category }}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>Grado:</label>
                <select class="form-control" name="grade" id="grade">
                    <option value="">Todos</option>
                    <option value="MAGISTER">Magister</option>
                    <option value="DOCTOR">Doctor</option>
                    <option value="-">No registra</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Escuela:</label>
                <input type="text" name="school" class="form-control" value="{{ request.GET.school }}">
            </div>
        </div>
    </div>

    <div class="row mt-3" style="padding-bottom: 1.5%">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Aplicar filtros</button>
        </div>
    </div>
  </form>
</div>

<div class="container mt-4">
  <div class="row">
      <div class="col-md-6">
          <h3 class="mb-3">Distribución por condición</h3>
          <div class="card">
              <div class="card-body">
                  <canvas id="degreeChart" width="100" height="50"></canvas>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <h3 class="mb-3">Distribución por contrato</h3>
          <div class="card">
              <div class="card-body">
                  <canvas id="contractChart" width="100" height="50"></canvas>
              </div>
          </div>
      </div>
  </div>

  <div class="row mt-5">
      <div class="col-md-12">
          <h3 class="mb-3">Docentes por escuela</h3>
          <div class="card">
              <div class="card-body">
                  <canvas id="teachersPerSchoolChart" width="200" height="70"></canvas>
              </div>
          </div>
      </div>
  </div>

</div>

<div class="container mt-5">
  <div class="row">
      <table id="teacherTable" class="display" style="width:100%">
          <thead class="bg-primary text-white">
              <tr>
                  <th>Escuela</th>
                  <th>Apellidos y nombres</th>
                  <th>Condición</th>
                  <th>Modalidad</th>
                  <th>Categoría</th>
                  <th>Grado</th>
                  <th>Edad</th>
                  <th style="text-align: center">Años de trabajo</th>
              </tr>
          </thead>
          <tbody>
              {% for teacher in teachers %}
              <tr>
                  <td style="text-align: center">{{ teacher.school }}</td>
                  <td>{{ teacher.surname_and_names }}</td>
                  <td style="text-align: center">{{ teacher.status }}</td>
                  <td style="text-align: center">{{ teacher.type }}</td>
                  <td style="text-align: center">{{ teacher.category }}</td>
                  <td style="text-align: center">{{ teacher.grade }}</td>
                  <td style="text-align: center">{{ teacher.age }}</td>
                  <td style="text-align: center">{{ teacher.work }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>
<script>
  new DataTable('#teacherTable', {
    language: {
        url: 'https://cdn.datatables.net/plug-ins/1.11.5/i18n/es-ES.json'
    }
  });
  document.addEventListener('DOMContentLoaded', function () {

      var degreeData = [
          {% for degree in degree_data %}
          {
              label: "{{ degree.label }}",
              data: {{ degree.data }},
              backgroundColor: getRandomColor(),
              borderColor: getRandomColor(),
              borderWidth: 1
          },
          {% endfor %}
      ];

      var contractData = [
          {% for contract in contract_data %}
          {
              label: "{{ contract.label }}",
              data: {{ contract.data }},
              backgroundColor: getRandomColor(),
              borderColor: getRandomColor(),
              borderWidth: 1
          },
          {% endfor %}
      ];

      var degreeChart = new Chart(document.getElementById('degreeChart'), {
          type: 'pie',
          data: {
              datasets: [{
                  data: degreeData.map(degree => degree.data),
                  backgroundColor: degreeData.map(degree => degree.backgroundColor),
                  borderColor: degreeData.map(degree => degree.borderColor)
              }],
              labels: degreeData.map(degree => degree.label),
          },
      });

      var contractChart = new Chart(document.getElementById('contractChart'), {
          type: 'pie',
          data: {
              datasets: [{
                  data: contractData.map(contract => contract.data),
                  backgroundColor: contractData.map(contract => contract.backgroundColor),
                  borderColor: contractData.map(contract => contract.borderColor)
              }],
              labels: contractData.map(contract => contract.label),
          },
      });


      var teachersPerSchoolData = [
    {% for data in teachers_per_school_data %}
        {
            label: "{{ data.school }} (Con Investigaciones)",
            data: [{{ data.with_research }}],
            backgroundColor: getRandomColor(),
            borderColor: getRandomColor(),
            borderWidth: 1
        },
        {
            label: "{{ data.school }} (Sin Investigaciones)",
            data: [{{ data.without_research }}],
            backgroundColor: getRandomColor(),
            borderColor: getRandomColor(),
            borderWidth: 1
        },
        {% endfor %}
    ];

    const data = {
        labels: [
          {% for data in teachers_per_school_data %}
            "{{ data.school }}",
          {% endfor %}
        ],
        datasets: [
          {
            label: 'Con Investigaciones',
            data: [
              {% for data in teachers_per_school_data %}
                {{ data.with_research }},
              {% endfor %}
            ],
            backgroundColor: getRandomColor(),
            borderColor: getRandomColor(),
            borderWidth: 1,
            stack: 'stack1'
          },
          {
            label: 'Sin Investigaciones',
            data: [
              {% for data in teachers_per_school_data %}
                {{ data.without_research }},
              {% endfor %}
            ],
            backgroundColor: getRandomColor(),
            borderColor: getRandomColor(),
            borderWidth: 1,
            stack: 'stack1'
          },
        ]
      };

      const config = {
        type: 'bar',
        data: data,
        options: {
          plugins: {
            title: {
              display: true,
              text: 'Profesores por Escuela con/sin Investigación'
            },
          },
          responsive: true,
          scales: {
            x: {
              stacked: true,
            },
            y: {
              stacked: true
            }
          }
        }
      };

      var teachersPerSchoolChart = new Chart(document.getElementById('teachersPerSchoolChart'), config);

console.log(teachersPerSchoolData);
      function getRandomColor() {
          var letters = '0123456789ABCDEF';
          var color = '#';
          for (var i = 0; i < 6; i++) {
              color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
      }

  });
</script>
{% endblock %}
