{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h2 class="mt-4">Filtros</h2>
  <div class="row">
      <div class="col-6">
          <form method="get" class="form-inline">
            <div class="row">
              <div class="col-10">
                <label class="my-1 mr-2" for="ciclo">Ciclo:</label>
                  <select name="ciclo" class="form-control">
                      <option value="">Selecciona un ciclo</option>
                      <option value="I" {% if ciclo == 'I' %}selected{% endif %}>I</option>
                      <option value="II" {% if ciclo == 'II' %}selected{% endif %}>II</option>
                      <option value="III" {% if ciclo == 'III' %}selected{% endif %}>III</option>
                      <option value="IV" {% if ciclo == 'IV' %}selected{% endif %}>IV</option>
                      <option value="V" {% if ciclo == 'V' %}selected{% endif %}>V</option>
                      <option value="VI" {% if ciclo == 'VI' %}selected{% endif %}>VI</option>
                      <option value="VII" {% if ciclo == 'VII' %}selected{% endif %}>VII</option>
                      <option value="VIII" {% if ciclo == 'VIII' %}selected{% endif %}>VIII</option>
                      <option value="IX" {% if ciclo == 'IX' %}selected{% endif %}>IX</option>
                      <option value="X" {% if ciclo == 'X' %}selected{% endif %}>X</option>
                  </select>
                <!-- Mantener el filtro de sede si ya está seleccionado -->
                {% if filtro_sede %}
                <input type="hidden" name="sede" value="{{ filtro_sede }}">
                {% endif %}
              </div>
              <div class="col-2 d-grid align-content-end">
                <button type="submit" class="btn btn-primary my-1">Filtrar</button>
              </div>
            </div>
          </form>
      </div>
      <div class="col-6">
          <form method="get" class="form-inline">
            <div class="row">
              <div class="col-10">
                <label class="my-1 mr-2" for="sede">Sede:</label>
                <select name="sede" class="form-control">
                    <option value="">Selecciona una sede</option>
                    {% for sede in sedes %}
                    <option value="{{ sede }}" {% if sede == filtro_sede %}selected{% endif %}>{{ sede }}</option>
                    {% endfor %}
                </select>
                <!-- Mantener el filtro de carrera si ya está seleccionado -->
                {% if filtro_carrera %}
                <input type="hidden" name="carrera" value="{{ filtro_carrera }}">
                {% endif %}
              </div>
              <div class="col-2 d-grid align-content-end">
                <button type="submit" class="btn btn-primary my-1">Filtrar</button>
              </div>
            </div>
          </form>
      </div>
  </div>
  <h2 class="mt-4">Estudiantes</h2>
  <div class="table-responsive">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>NRO. MAT.</th>
                  <th>APELLIDOS Y NOMBRES</th>
                  <th>ESCUELA</th>
                  <th>SEDE</th>
              </tr>
          </thead>
          <tbody id="tblDatos">
              {% for estudiante in estudiantes %}
              <tr>
                  <td>{{ estudiante.numero_matricula }}</td>
                  <td>{{ estudiante.apellidos_nombres }}</td>
                  <td>{{ estudiante.escuela }}</td>
                  <td>{{ estudiante.sede }}</td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan="6">No hay estudiantes que coincidan con los filtros.</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  <h1 class="mb-4">Estadísticas</h1>
      <div class="row mt-5 mb-4">
        <div class="col-md-6">
            <h3 class="mb-3">Alumnos por sede</h3>
            <div class="card">
                <div class="card-body">
                    <canvas id="sedeChart" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
          <h3 class="mb-3">Alumnos por ciclo</h3>
          <div class="card">
              <div class="card-body">
                  <canvas id="cicloChart" width="400" height="200"></canvas>
              </div>
          </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}


{% block scripts %}
<script>
  const functionesTabla = initTableFunctions(document.getElementById('tblDatos'), {
            busqueda: true,
            paginable: true,
            paginacion: 10
        });
// Obtén los datos del gráfico de barras horizontal desde el contexto
var sedeData = JSON.parse('{{ sede_data|escapejs }}');

// Obtén los datos del gráfico de barras vertical desde el contexto
var cicloData = JSON.parse('{{ ciclo_data|escapejs }}');

// Configura y renderiza el gráfico de barras horizontal
var sedeChartCanvas = document.getElementById('sedeChart').getContext('2d');
var sedeChart = new Chart(sedeChartCanvas, {
    type: 'horizontalBar',
    data: sedeData
});

// Configura y renderiza el gráfico de barras vertical
var cicloChartCanvas = document.getElementById('cicloChart').getContext('2d');
var cicloChart = new Chart(cicloChartCanvas, {
    type: 'bar',
    data: cicloData
});
      
</script>
{% endblock %}
