{% extends 'base.html' %}
{% block escuela %}
<div class="dropstart">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{escuela.text}}
  </button>
  <ul class="dropdown-menu">
    {% for item_escuela in escuelas %}
      <a class="dropdown-item {% if item_escuela.id == escuela.id %}active{% endif %}" 
        href="/dashboard/{{facultad}}/{{item_escuela.name}}/docentes">
          {{item_escuela.text}}
      </a>
    {% endfor %}
  </ul>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="mb-4">Estado de los Activos de la escuela de {{escuela.text}}</h1>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
          <thead class="thead-dark">
              <tr>
                  <th rowspan="2" class="text-center align-middle">Equipo</th>
                  <th colspan="3" class="text-center">Estado en cantidad</th>
                  <th rowspan="2" class="text-center align-middle">Total</th>
                  <th colspan="3" class="text-center">Estado en %</th>
                  <th rowspan="2" class="text-center align-middle">Total</th>
              </tr>
              <tr>
                  <th class="text-center">Operativo</th>
                  <th class="text-center">Malogrado</th>
                  <th class="text-center">Baja</th>
                  <th class="text-center">Operativo</th>
                  <th class="text-center">Malogrado</th>
                  <th class="text-center">Baja</th>
              </tr>
          </thead>
          <tbody>
              {% for equipo, totales in tabla_resumen2.items %}
              <tr>
                  <td class="text-center">{{ equipo }}</td>
                  <td class="text-center">{{ totales.OPERATIVO }}</td>
                  <td class="text-center">{{ totales.MALOGRADO }}</td>
                  <td class="text-center">{{ totales.BAJA }}</td>
                  <td class="text-center">{{ totales.total }}</td>
                  <td class="text-center">{{ totales.operativo_percent|floatformat:2 }}%</td>
                  <td class="text-center">{{ totales.malogrado_percent|floatformat:2 }}%</td>
                  <td class="text-center">{{ totales.baja_percent|floatformat:2 }}%</td>
                  <td class="text-center">{{ totales.total_percent|floatformat:2 }}%</td>
              </tr>
              {% endfor %}
          </tbody>
          <tfoot class="thead-dark">
              <tr>
                  <th class="text-center">Totales</th>
                  <th class="text-center">{{ totales_por_estado.OPERATIVO }}</th>
                  <th class="text-center">{{ totales_por_estado.MALOGRADO }}</th>
                  <th class="text-center">{{ totales_por_estado.BAJA }}</th>
                  <th class="text-center">{{ totales_por_estado.total }}</th>
                  <th class="text-center">{{ totales_por_estado.operativo_percent|floatformat:2 }}%</th>
                  <th class="text-center">{{ totales_por_estado.malogrado_percent|floatformat:2 }}%</th>
                  <th class="text-center">{{ totales_por_estado.baja_percent|floatformat:2 }}%</th>
                  <th class="text-center">{{ totales_por_estado.total_percent|floatformat:2 }}%</th>
              </tr>
          </tfoot>
      </table>
  </div>
    <!-- Formulario de Filtros -->
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row mb-3">
            <!-- Filtro por Ambiente -->
            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label for="ambiente">Ambiente:</label>
                    <select class="form-select" name="ambiente" id="ambiente">
                        <option value="">Todos</option>
                        {% for ambiente in ambientes %}
                            <option value="{{ ambiente }}">{{ ambiente }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Filtro por Descripción -->
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <select class="form-select" name="descripcion" id="descripcion">
                        <option value="">Todos</option>
                        {% for descripcion in descripciones %}
                            <option value="{{ descripcion }}">{{ descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Filtro por Estado -->
            <div class="col-12 col-md-3">
                <div class="form-group">
                    <label for="estado">Estado:</label>
                    <select class="form-select" name="estado" id="estado">
                        <option value="">Todos</option>
                        {% for estado in estados %}
                            <option value="{{ estado }}">{{ estado }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-2 d-grid align-content-end">
                <button type="submit" class="btn btn-primary" style="align-self: baseline;">Filtrar</button>
            </div>
        </div>
    </form>
    <script id="datos-pastel" type="application/json">{{ datos_pastel_json|safe }}</script>
    <script id="datos-barras" type="application/json">{{ datos_barras_json|safe }}</script>
    <script id="tabla-resumen" type="application/json">{{ tabla_resumen_json|safe }}</script>
    <script id="datos-grafico-barras" type="application/json">{{ datos_grafico_barras_json|safe }}</script>    
    <!-- Tabla de Resumen -->
    <div class="table-responsive rounded">
        <table class="table table-striped">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Ambiente</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="tblDatos">
                {% for item in tabla_resumen %}
                    <tr>
                        <td>{{ item.ambiente }}</td>
                        <td>{{ item.descripcion }}</td>
                        <td>{{ item.estado }}</td>
                        <td>{{ item.total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Gráficos -->
    <div class="row mb-4" style="height: 450px;">
      <div class="col-md-6 h-100 border rounded p-0" style="overflow-y: auto;">
        <table class="table table-striped">
          <thead class="bg-primary text-white">
              <tr>
                  <th>Estado</th>
                  <th class="text-center">TOTAL</th>
              </tr>
          </thead>
          <tbody id="tblDatos">
              {% for report in datos_pastel %}
                  <tr class="">
                      <td>{{report.estado}}</td>
                      <td class="text-center">{{report.total}}
                      </td>
                  </tr>
      
              {% endfor %}
          </tbody>
      </table>
      </div>
        <div class="col-md-6 h-100">
            <div class="card mb-4 h-100">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <canvas id="graficoPastel" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 450px;">
        <div class="col-md-6 h-100">
            <div class="card mb-4 h-100">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <canvas id="graficoBarras" style="width: 100%;" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 h-100 border rounded p-0" style="overflow-y: auto;">
          <table class="table table-striped border w-100">
            <thead>

            </thead>
            <tbody id="tblDatos">
                {% for nombre_ambiente, ambiente_activos in datos_barras.items %}
                    <tr class="bg-primary font-bold">
                        <td class="text-white" colspan="2"><b>{{nombre_ambiente}}</b></td>
                        <td class="text-white text-center" colspan="1"><b>TOTAL</b></td>
                    </tr>
                    {% for nombre_activo, cantidad in ambiente_activos.items %}
                    <tr>
                        <td>
                          
                        </td>
                        <td>
                          {{nombre_activo}}
                        </td>
                        <td class="text-center">
                          {{cantidad}}
                        </td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
</div>
</main>
</div>
</div>
</body>
<script>
    function initTableFunctions(table, options = {
              busqueda: true,
              paginable: true,
              paginacion: 10
          }) {
              let datos = Array.from(table.querySelectorAll('tbody tr')).map(e => ({
                  element: e
              }));
              let paginacion = options.paginacion;
              let nPaginas = 0;
              let currPagina = 1;
              for (let i = 0; i < datos.length; i++) {
                  let fila = datos[i];
                  fila.valores = Array.from(fila.element.querySelectorAll('.busqueda')).map(e => e.textContent).join('|');
                  fila.pagina = Math.floor(i / paginacion) + 1;
                  console.log(fila.pagina, nPaginas, fila.pagina > nPaginas);
                  fila.pagina > nPaginas && (() => (nPaginas = fila.pagina))();
              }
  
              const returnObj = {
                  updateDatos: function() {
                      datos = Array.from(table.querySelectorAll('tbody tr')).map(e => ({
                          element: e
                      }));
                      for (let i = 0; i < datos.length; i++) {
                          let fila = datos[i];
                          fila.valores = Array.from(fila.element.querySelectorAll('.busqueda')).map(e => e
                              .textContent).join('|');
                          fila.pagina = Math.floor(i / paginacion) + 1;
                          fila.pagina > nPaginas && (() => (nPaginas = fila.pagina))();
                      }
                      refreshPaginator();
                      returnObj.paginar(currPagina);
                  },
                  filtrar: function(texto) {
                      if (!options.busqueda) {
                          return console.log('Busqueda no habilitada, opcion busqueda puesta como false');
                      }
                      console.log('filtrando...', texto)
                      if (texto === '') {
                          returnObj.paginar(currPagina);
                          return 0;
                      }
                      for (let dato of datos) {
                          dato.element.hidden = !dato.valores.toUpperCase().match(texto.toUpperCase());
                      }
                  },
                  paginar: function(nroPagina) {
                      if (!options.paginable || datos.length <= paginacion) {
                          return console.log('Paginacion no disponible');
                      }
                      console.log('paginando...');
                      currPagina = nroPagina;
                      e_paginator = table.parentNode.querySelector('tfoot div.paginator');
                      console.log(e_paginator);
                      if (e_paginator == null) {
                          refreshPaginator();
                          e_paginator = table.parentNode.querySelector('tfoot div.paginator');
                      }
                      Array.from(e_paginator.children)
                          .map(e => ((e.textContent === nroPagina + '') ? e.classList.add('active') : e.classList
                              .remove('active')));
                      for (let dato of datos) {
                          dato.element.hidden = !(dato.pagina === nroPagina);
                      }
                  }
              }
  
              const refreshPaginator = function() {
                  if (nPaginas > 1 && options.paginable) {
                      let a = table.parentNode.querySelector('tfoot')
                      console.log(a);
                      if (a != null) {
                          console.log(a);
                          a.remove();
                      }
                      const t_foot = document.createElement('tfoot');
                      table.parentNode.appendChild(t_foot);
                      const t_row = document.createElement('tr');
                      t_foot.appendChild(t_row);
                      //const t_divSettings = document.createElement('div');
                      //t_divSettings.className = 'paginator-options';
                      //t_foot.appendChild(t_divSettings);
                      const t_tdPages = document.createElement('td');
                      t_tdPages.colSpan = '50';
                      t_row.appendChild(t_tdPages);
                      const t_divPages = document.createElement('div');
                      t_divPages.className = 'paginator';
                      t_tdPages.appendChild(t_divPages);
  
                      let t_page_first = document.createElement('button');
                      t_page_first.type = 'button';
                      t_page_first.className = 'paginator-page';
                      t_page_first.textContent = '«';
                      t_page_first.onclick = function() {
                          returnObj.paginar(1)
                      };
                      t_divPages.appendChild(t_page_first);
  
                      for (let i = 1; i <= nPaginas; i++) {
                          let t_page_s = t_page_first.cloneNode(true);
                          t_page_s.textContent = i;
                          t_page_s.onclick = function() {
                              returnObj.paginar(i)
                          };
                          t_divPages.appendChild(t_page_s);
                      }
  
                      let t_page_last = document.createElement('button');
                      t_page_last.type = 'button';
                      t_page_last.className = 'paginator-page';
                      t_page_last.textContent = '»';
                      t_page_last.onclick = function() {
                          returnObj.paginar(nPaginas)
                      };
                      t_divPages.appendChild(t_page_last);
                  }
              }
              refreshPaginator();
              returnObj.paginar(1);
              return returnObj
          }
  </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Recuperar datos de los gráficos
            var datosPastel = JSON.parse(document.getElementById('datos-pastel').textContent);
            var datosBarras = JSON.parse(document.getElementById('datos-barras').textContent);
    
            // Configuración y creación del gráfico de pastel
            var ctxPastel = document.getElementById('graficoPastel').getContext('2d');
            var graficoPastel = new Chart(ctxPastel, {
                type: 'pie',
                data: {
                    labels: datosPastel.map(item => item.estado),
                    datasets: [{
                        label: 'Total por Estado',
                        data: datosPastel.map(item => item.total),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            // ... más colores según sea necesario ...
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            // ... más colores según sea necesario ...
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: false,
                    plugins: {
                        position: 'center',
                        legend: {
                            display: true
                        }
                    }
                }
            });
        });
        document.addEventListener('DOMContentLoaded', function() {
            var datosGraficoBarras = JSON.parse(document.getElementById('datos-grafico-barras').textContent);
            var ctxBarras = document.getElementById('graficoBarras').getContext('2d');
            var graficoBarras = new Chart(ctxBarras, {
                type: 'bar',
                data: datosGraficoBarras,
                options: {
                    scales: {
                        x: {
                            stacked: false,
                        },
                        y: {
                            stacked: false
                        }
                    },
                    responsive: false
                }
            });
        });
        </script>

<script>
  const functionesTabla = initTableFunctions(document.getElementById('tblDatos'), {
            busqueda: true,
            paginable: true,
            paginacion: 10
        });
</script>
{% endblock %}

</html>