{% extends 'base.html' %}
{% block escuela %}
<div class="dropstart">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{escuela.text}}
  </button>
  <ul class="dropdown-menu">
    {% for item_escuela in escuelas %}
      <a class="dropdown-item {% if item_escuela.id == escuela.id %}active{% endif %}" 
        href="/dashboard/{{facultad}}/{{item_escuela.name}}/estudiantes">
          {{item_escuela.text}}
      </a>
    {% endfor %}
  </ul>
</div>
{% endblock %}
{% block content %}
<div class="container">
  <h1>Personal administrativo de la Escuela de {{escuela.text}}</h1>
  <div class="row mb-3">
    <div class="col-12">
      <input id="txtBusqueda" placeholder="Buscar por nombre y apellidos" type="text" class="form-control">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <table class="table table-striped rounded">
          <thead class="bg-primary text-white">
              <tr class="align-middle">
                  <th class="text-center">Escuela</th>
                  <th>Apellidos y nombres</th>
                  <th>Cargo</th>
                  <th class="text-center">Correo Electronico</th>
                  <th class="text-center">Celular</th>
              </tr>
          </thead>
          <tbody id="tblDatos">
              {% for employee in employees %}
              <tr>
                  <td class="text-center">{{ employee.escuela.text }}</td>
                  <td class="busqueda">{{ employee.name }}</td>
                  <td class="busqueda">{{ employee.position }}</td>
                  <td class="text-center">{{ employee.email }}</td>
                  <td class="text-center">{{ employee.phone }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  const functionesTabla = initTableFunctions(document.getElementById('tblDatos'), {
            busqueda: true,
            paginable: true,
            paginacion: 10
        });

  const txtBusqueda = document.getElementById('txtBusqueda');
  txtBusqueda.addEventListener('keyup', (({
      target
  }) => {
    functionesTabla.filtrar(target.value)
  }));
</script>
{% endblock %}