{% extends 'base.html' %}
{% block escuela %}
<div class="dropstart">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{escuela.text}}
  </button>
  <ul class="dropdown-menu">
    {% for item_escuela in escuelas %}
      <a class="dropdown-item {% if item_escuela.id == escuela.id %}active{% endif %}" 
        href="/dashboard/{{facultad}}/{{item_escuela.name}}/research">
          {{item_escuela.text}}
      </a>
    {% endfor %}
  </ul>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <h2>Participación de Docentes de la Escuela de {{escuela.text}}</h2>
    <div class="row">
        <div class="col-md-4">
            <canvas id="researchLineChart" width="200" height="200"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="type-chart" width="200" height="200"></canvas>
        </div>
        <div class="col-md-4">
            <canvas id="condition-chart" width="200" height="200"></canvas>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Número total de Proyectos</h5>
                    <h3 class="card-text">{{ total_projects }}</h3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Presupuesto total</h5>
                    <h3 class="card-text">${{ total_budget }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Detalles de Proyectos de Investigación</h2>
            <div>
              <form  method="GET" action="">
                
                <div class="row mt-3 mb-3">
                  <div class="col-xs-12 col-md-8">
                    <div class="form-group">
                      <label for="">Investigador principal:</label>
                      <select class="form-control form-select" name="main_teacher">
                        <option value="">TODOS</option>
                        {% for researcher in main_researchers %}
                        {{research}}
                        <option value="{{researcher.id}}">{{researcher.surname_and_names}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-12 col-md-4">
                    <div class="h-100 form-group d-flex align-items-center">
                      <button type="submit" class="btn btn-primary">Filtrar</button>
                    </div>
                  </div>
                </div>
                
              </form>
            </div>
            <ul class="list-group" style="font-size: 12px;">
              {% for research in researchs %}
              <li class="list-group-item" style="cursor: default;">
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <div>
                      <h5 class="lead m-0">[{{ research.code }}] - {{ research.title }}</h5>
                      <div class="py-1" style="font-size: 14px;">
                        <span title="Tipo de investigacion" class="badge bg-info text-white">
                          {{ research.type_of_research }}
                        </span>
                        <span title="Linea de investigacion: {{ research.research_line }} - {{ research.sub_line }}" class="badge bg-secondary">
                          <td>{{ research.research_line }}</td>
                        </span>
                      </div>
                    </div>
                    <div class="tag-list">
                      {% for teacher in research.teacher.all %}
                        <div class="tag-item d-flex align-items-center" style="gap: 3px;">
                          <span class="badge bg-secondary">{{ teacher.school }}</span>
                          {{ teacher.surname_and_names }}
                          {% if teacher == research.teacher.first %}
                            <span>(A)</span>
                          {% else %}
                            <span>(CO)</span>
                          {% endif %}
                          <div class="card tag-item-details px-1" style="width: max-content;">
                            <p class="mb-1">
                              Tipo: {{ teacher.type }}
                            </p>
                            <p class="mb-1">
                              Estado: {{ teacher.status }}
                            </p>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="d-grid align-items-center px-3">
                    <span class="lead" style="width: max-content;">
                      S/ {{ research.budget }}
                    </span>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var schoolLabels = [{% for school_count in school_counts %}"{{ school_count.0 }}",{% endfor %}];
    var schoolData = [{% for school_count in school_counts %}{{ school_count.1 }},{% endfor %}];
    var schoolColors = generateRandomColors(schoolData.length);

    new Chart(document.getElementById("school-chart"), {
        type: 'pie',
        data: {
            labels: schoolLabels,
            datasets: [{
                data: schoolData,
                backgroundColor: schoolColors,
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        },
    });

    var typeLabels = [{% for type_count in type_counts %}"{{ type_count.0 }}",{% endfor %}];
    var typeData = [{% for type_count in type_counts %}{{ type_count.1 }},{% endfor %}];
    var typeColors = generateRandomColors(typeData.length);

    new Chart(document.getElementById("type-chart"), {
        type: 'doughnut',
        data: {
            labels: typeLabels,
            datasets: [{
                data: typeData,
                backgroundColor: typeColors,
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        },
    });

    var conditionLabels = [{% for condition_count in condition_counts %}"{{ condition_count.0 }}",{% endfor %}];
    var conditionData = [{% for condition_count in condition_counts %}{{ condition_count.1 }},{% endfor %}];
    var conditionColors = generateRandomColors(conditionData.length);

    new Chart(document.getElementById("condition-chart"), {
        type: 'bar',
        data: {
            labels: conditionLabels,
            datasets: [{
                label: "Docentes",
                data: conditionData,
                backgroundColor: conditionColors,
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true,
                }
            }
        },
    });

    // Generate random colors array
    function generateRandomColors(num) {
        var randomColors = [];
        for (var i = 0; i < num; i++) {
            const color = `hsl(${i*(360/num)%360}deg,71%,65%)`
            randomColors.push(color);
        }
        return randomColors;
    }

    var researchLineData = {
        labels: [],
        datasets: [{
            data: [],
            backgroundColor: [
                'rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(255, 206, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(153, 102, 255, 0.6)',
                'rgba(255, 159, 64, 0.6)',
                'rgba(255, 99, 132, 0.6)',
                'rgba(54, 162, 235, 0.6)',
                'rgba(255, 206, 86, 0.6)',
                'rgba(75, 192, 192, 0.6)',
                'rgba(153, 102, 255, 0.6)',
            ],
        }],
    };

    {% for research_line, count in research_line_counts %}
    researchLineData.labels.push("{{ research_line }}");
    researchLineData.datasets[0].data.push({{ count }});
    {% endfor %}

    var ctx = document.getElementById('researchLineChart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: researchLineData,
        options: {
            responsive: true,
            maintainAspectRatio: false,
        },
    });
</script>
{% endblock %}
