{% extends 'base.html' %}
{% block escuela %}
  {{escuela}}
{% endblock %}
{% block content %}
<div class="container">
    <h1>Horarios de la escuela de {{escuela}}</h1>
    <form method="post" id="filter-form">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="school">Sede:</label>
                    <select name="school" id="school" class="form-control">
                        <option value="">Seleccione una opción</option>
                        {% for school in schools %}
                        <option value="{{ school }}" class="filter-option">{{ school }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cycle">Ciclo:</label>
                    <select name="cycle" id="cycle" class="form-control">
                        <option value="">Seleccione una opción</option>
                        {% for cycle in cycles %}
                        <option value="{{ cycle }}" class="filter-option">{{ cycle }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2 text-center mt-3 d-grid">
                <button type="submit" class="btn btn-primary">Aplicar filtros</button>
            </div>
        </div>
    </form>

    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead class="bg-primary text-white">
                <tr class="text-center">
                    <th>Hora/Días</th>
                    <th>Lunes</th>
                    <th>Martes</th>
                    <th>Miércoles</th>
                    <th>Jueves</th>
                    <th>Viernes</th>
                    <th>Sábado</th>
                </tr>
            </thead>
            <tbody  class="text-center">
                {% for i in hours_range %}
                    <tr>
                        <td>{{ i }}</td>
                        {% for day in days_of_week %}
                            <td id="{{ day }}-{{ i }}" class="schedule-cell position-relative">
                                {% for course in courses %}
                                    {% for schedule in course.courseschedule_set.all %}
                                        {% if schedule %}
                                            {% if schedule.day == day %}
                                                {% with schedule.start_time|time:"H:i" as start_hour %}
                                                    {% with schedule.end_time|time:"H:i" as end_hour %}
                                                        {% if i >= start_hour and i < end_hour %}
                                                            <div class="course-box" style="background-color: {{ course.color }};">
                                                                <span class="course-title">{{ course.name }}</span>
                                                                <div class="course-details">
                                                                    Sección: {{ schedule.section }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Aula: {{ schedule.classroom }}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endwith %}
                                            {% endif %}
                                        {% endif%}
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Semestre</th>
                    <th>Sede</th>
                    <th>Ciclo</th>
                    <th>Sección</th>
                    <th>Carrera</th>
                    <th>Curso</th>
                    <th>Horarios</th>
                    <th>Aula/Laboratorio</th>
                    <th>Docente</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr data-course-id="{{ course.id }}">
                    <td>{{ course.period.period }}</td>
                    <td>
                        {% with course.courseschedule_set.first as course_schedule %}
                            {% if course_schedule %}
                                {{ course_schedule.headquarters.name }}
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>{{ course.cycle }}</td>
                    <td>
                        {% with course.courseschedule_set.first as course_schedule %}
                            {% if course_schedule %}
                                {{ course_schedule.section }}
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>{{ course.school }}</td>
                    <td>{{ course.name }}</td>
                    <td>
                        {% for schedule in course.courseschedule_set.all %}
                            {% with schedule.start_time as start_time %}
                                {% with schedule.end_time as end_time %}
                                    {% if schedule.day == 'MONDAY' %}
                                    Lunes:
                                    {% elif schedule.day == 'TUESDAY' %}
                                    Martes:
                                    {% elif schedule.day == 'WEDNESDAY' %}
                                    Miércoles:
                                    {% elif schedule.day == 'THURSDAY' %}
                                    Jueves:
                                    {% elif schedule.day == 'FRIDAY' %}
                                    Viernes:
                                    {% elif schedule.day == 'SATURDAY' %}
                                    Sábado:
                                    {% elif schedule.day == 'SUNDAY' %}
                                    Domingo:
                                    {% endif %}

                                    {% if start_time|time:"H" >= 12 %}
                                    {{ start_time|time:"g:i A" }} - {{ end_time|time:"g:i A" }}<br>
                                    {% else %}
                                    {{ start_time|time:"g:i a" }} - {{ end_time|time:"g:i a" }}<br>
                                    {% endif %}
                                {% endwith %}
                            {% endwith %}
                        {% empty %}
                            Horario no disponible
                        {% endfor %}
                    </td>
                    <td>
                        {% with course.courseschedule_set.first as course_schedule %}
                            {% if course_schedule %}
                                {{ course_schedule.classroom }}
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>{{ course.teacher_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
