{% extends 'base.html' %}
{% block escuela %}
<div class="dropstart">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    {{escuela.text}}
  </button>
  <ul class="dropdown-menu">
    {% for item_escuela in escuelas %}
      <a class="dropdown-item {% if item_escuela.id == escuela.id %}active{% endif %}" 
        href="/dashboard/{{facultad}}/{{item_escuela.name}}/horario">
          {{item_escuela.text}}
      </a>
    {% endfor %}
  </ul>
</div>
{% endblock %}
{% block content %}
<div class="container">
    <h1>Horarios de la Escuela de {{escuela.text}}</h1>
    <form method="get" id="filter-form">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="school">Sede:</label>
                    <select name="school" id="school" class="form-control">
                        <option value="">Seleccione una opción</option>
                        {% for school in schools %}
                        <option value="{{ school }}" {% if selected_school == school %}selected{% endif %} class="filter-option"  >{{ school }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="cycle">Ciclo:</label>
                    <select name="cycle" id="cycle" class="form-control">
                        <option value="">Seleccione una opción</option>
                        {% for cycle in cycles %}
                        <option value="{{ cycle }}" {% if selected_cycle == cycle %}selected{% endif %} class="filter-option">{{ cycle }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2 text-center mt-3 d-grid">
                <button type="submit" class="btn btn-primary">Aplicar filtros</button>
            </div>
        </div>
    </form>

    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead class="bg-primary text-white">
                <tr class="text-center">
                    <th style="width: 90px;">Hora/Días</th>
                    <th style="width: 250px;">Lunes</th>
                    <th style="width: 250px;">Martes</th>
                    <th style="width: 250px;">Miércoles</th>
                    <th style="width: 250px;">Jueves</th>
                    <th style="width: 250px;">Viernes</th>
                    <th style="width: 250px;">Sábado</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for i in hours_range %}
                    <tr>
                        <td>{{ i }}</td>
                        {% for day in days_of_week %}
                            <td id="{{ day }}-{{ i }}" class="position-relative">
                                <div class="schedule-cell">
                                    {% for course_data in course_schedules %}
                                        {% for schedule in course_data.schedules %}
                                            {% if schedule.day == day %}
                                                {% with schedule.start_time|time:"H:i" as start_hour %}
                                                    {% with schedule.end_time|time:"H:i" as end_hour %}
                                                        {% if i >= start_hour and i < end_hour %}
                                                            <div class="course-box" title="({{ schedule.section }}) {{ schedule.course_model.name }} | {{ schedule.classroom }}" style="background-color: {{ course_data.color }};">
                                                                <span class="course-title">{{ schedule.course_model.name }}</span>
                                                                <div class="course-details">
                                                                    Sección: {{ schedule.section }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Aula: {{ schedule.classroom }}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endwith %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<div class="table-responsive mt-4">
    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <th>Semestre</th>
                <th>Ciclo</th>
                <th>Sección</th>
                <th>Carrera</th>
                <th>Curso</th>
                <th>Horarios</th>
                <th>Aula/Laboratorio</th>
                <th>Docente</th>
            </tr>
        </thead>
        <tbody>
            {% for course_data in course_schedules %}
            <tr data-course-id="{{ course_data.course.id }}">
                <td>{{ course_data.course.period.period }}</td>
                <td>{{ course_data.course.cycle }}</td>
                <td>{{ course_data.section }}</td>
                <td>{{ course_data.course.school }}</td>
                <td>{{ course_data.course.name }}</td>
                <td>
                    {% for schedule in course_data.schedules %}
                        {% if schedule.day == 'MONDAY' %}
                            Lunes:
                            {% elif schedule.day == 'TUESDAY' %}
                            Martes:
                            {% elif schedule.day == 'WEDNESDAY' %}
                            Miércoles:
                            {% elif schedule.day == 'THURSDAY' %}
                            Jueves:
                            {% elif schedule.day == 'FRIDAY' %}
                            Viernes:
                            {% elif schedule.day == 'SATURDAY' %}
                            Sábado:
                            {% elif schedule.day == 'SUNDAY' %}
                            Domingo:
                            {% endif %}
                        {{ schedule.start_time|time:"P" }} - {{ schedule.end_time|time:"P" }}<br>
                    {% endfor %}
                </td>
                <td>{{ course_data.classroom }}</td>
                <td>{{ course_data.teacher_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}
